#main {

  .container.main-container {
    @include make-container();
    @include make-container-max-widths($main-container-max-widths);
  }

  nav.navigation.pagination .nav-links {
  // Make the div behave like a button
    position: relative;
    display: inline-flex;
    vertical-align: middle; // match .btn alignment given font-size hack above
    left: auto;
    right: auto;
    width: 100%;
    justify-content: center;

    .page-numbers {
      display: inline-block;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: $btn-border-width solid $white;
      color: $white;
      background-color: $color__background-button;
      @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
      @include transition($btn-transition);

      &.dots, &.current {
        background: lighten($color__background-button, 15%);
      }

      // Share hover and focus styles
      @include hover-focus {
        &:not(.current, .dots)  {
          text-decoration: none;
          background: lighten($color__background-button, 15%);
        }
      }

      &:focus,
      &.focus {
        outline: 0;
      }

      // Disabled comes first so active can properly restyle
      &.disabled,
      &:disabled {
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
      }

      // Opinionated: add "hand" cursor to non-disabled .btn elements
      &:not(:disabled):not(.disabled) {
        cursor: pointer;
      }

      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active {
        background-image: none;
        @include box-shadow($btn-active-box-shadow);

        &:focus {
          @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        }
      }
    }

    > .page-numbers {
      position: relative;
      flex: 0 1 auto;

      // Bring the hover, focused, and "active" buttons to the front to overlay
      // the borders properly
      @include hover {
        z-index: 1;
      }
      &:focus,
      &:active,
      &.active {
        z-index: 1;
      }
    }

    // Prevent double borders when buttons are next to each other
    .page-numbers + .page-numbers {
      margin-left: -$btn-border-width;
    }

    > .page-numbers:first-child {
      margin-left: 0;
    }

    // Reset rounded corners
    > .page-numbers:not(:last-child):not(.dropdown-toggle) {
      @include border-right-radius(0);
    }

    > .page-numbers:not(:first-child) {
      @include border-left-radius(0);
    }
  }

  nav.navigation.post-navigation {
    width: 100%;
    float: left;
    padding: 20px 0;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 20px;
    min-height: 100px;
    position: relative;

    span.middle {
      width: 1px;
      height: 70%;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: rgba(0,0,0,0.1);
      transform: rotate(20deg);
    }

    .nav-previous, .nav-next {
      a {
        font-size: .8em;
        font-weight: 700;
        text-decoration: none;
        color: #666666;

        span {
          font-size: 1.1em;
          font-weight: 700;
          display: block;
        }
      }

      i {
        color: rgba(0,0,0,0.6);
        opacity: .6;
        font-size: 24px;
        display: block;
        float: left;
        height: 55px;
        padding: 25px 3px 0;
        position: absolute;
        left: -18px;
      }

      img {
        max-width: 90px;
        height: auto;
        float: left;
        margin-right: 15px;
        transition: all .2s ease-out;
      }
    }

    .nav-previous {
      float: left;
      width: 50%;

      a span {
        padding-right: 20px;
      }
    }

    .nav-next {
      float: right;
      width: 50%;
      text-align: right;

      i {
        float: right;
        right: -18px;
        left: auto;
      }

      a span {
        padding-left: 20px;
      }

      img {
        float: right;
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }
}

article, section {
  iframe {
    max-width: 100%;
  }
}
