
footer#colophon {
  // TIP: Background images are set within the HTML using inline CSS!
  padding: 3em 0 1.5em 0;
  background: {
    repeat: no-repeat;
    color: $secondary;
    attachment: fixed;
    position: center center;
    size: cover;
  }
  border-top: 2px $white;
  color: $white;
  clear: both;

  aside.widget-area {
    @include make-row();

    .footer-widget-1 {
      @include make-col-ready();

      @include media-breakpoint-up("md") {
        @include make-col(5);
      }
    }

    .footer-widget-2 {
      @include make-col-ready();

      @include media-breakpoint-up("md") {
        @include make-col(7);
      }
    }
  }

  .site-info {
    text-align: center;
    color: $white;

    a {
      color: $white;

      &:hover {
        text-decoration: none;
        color: darken($primary, .1);
      }
      &:visited {
        color: $white;
      }
    }
  }

  /* Social nav */
  .social-navigation {
    font-size: 1rem;
    margin-bottom: 1em;
    ul {
      list-style: none;
      margin-bottom: 0;
      margin-left: 0;
    }
    li {
      display: inline;
    }
    a {
      background-color: $primary;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      color: darken($white, 10%); // limits "flashyness" on light background
      display: inline-block;
      height: 40px;
      margin: 0 1em 0.5em 0;
      text-align: center;
      width: 40px;
      transition: background 0.2s;
      &:hover, &:focus {
        background-color: darken($primary, 10%);
      }
    }
    .icon {
      height: 16px;
      top: 12px;
      width: 16px;
      vertical-align: top;
    }
  }
}
