.front-page {

  article.front-article {
    width: 100%;
    background: {
      repeat: no-repeat;
      attachment: scroll;
      position: center center;
      size: cover;
    }

    .entry-content {
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }

  section {
    width: 100%;
    background: {
      repeat: no-repeat;
      attachment: fixed;
      position: center center;
      size: cover;
    }

    .entry-header {
      padding-top: 30px;
      text-align: center;
    }

    .entry-content {
      padding-bottom: 40px;
    }

    &.front-panel-separator {
      background-attachment: scroll;

      .entry-content {
        padding-top: 40px;
        color: $white;
      }
    }
  }

  .recent-posts {

    @include make-row();

    article.front-excerpt {
      @include make-col-ready();

      min-height: 470px;
      padding: {
        bottom: 40px;
      }

      @include media-breakpoint-up("lg") {
        @include make-col(4, 12);
      }

      .datemonth {
        width: 50px;
        text-align: center;
        padding: 0;
        font-weight: bold;
        font-size: 12px;
        z-index: $zindex-dropdown - 1;
        position: absolute;
        left: 30px;
        top: -20px;
        background: $white;
        line-height: 1.15;

        span {
          display: block;
          padding: 5px 0;

          &.date-day {
            color: $white;
            background: $primary;
            font-size: 19px;
            font-weight: bold;
            padding: 7px 0;
          }
        }
      }

      .post_image {
        margin: 0;
        height: 200px;
        overflow: hidden;
        position: relative;
        background-color: $secondary;

        img {
          height: auto;
          width: 100%;
          padding: 0;
          margin: 0;
          min-height: 200px;
          border: none;
        }
      }

      .post_wrapper {
        background: $white;
        height: 100%;
      }

      .post_content {
        padding: 25px;
        font-size: $front-excerpt-fontsize;

        p {
          margin: {
            top: 0.5em;
            bottom: 0;
          }
        }

        .post_meta {
          font-size: $front-excerpt-meta-fontsize;
        }

        h2 {
          font-size: $h2-front-excerpt-fontsize;
          margin-bottom: $h2-front-excerpt-fontsize / 2;
          margin-top: 4px;

          a {
            color: inherit;

            &:hover {
              text-decoration: none;
              color: $primary;
            }
          }
        }
      }
    }
  }

  .trails-showcase {

    @include make-row();
    justify-content: space-around;

    article.trail-showcase {
      @include make-col-ready();

      min-height: 470px;
      padding: {
        bottom: 40px;
      }

      @include media-breakpoint-up("md") {
        @include make-col(6, 12);
      }

      @include media-breakpoint-up("lg") {
        @include make-col(5, 12);
      }

      .trail-icon-container {
        width: 128px;
        height: 128px;
        padding: 0;
        z-index: $zindex-dropdown - 1;
        position: absolute;
        margin: {
          left: auto;
          right: auto;
          top: (200px - 128px)/2;
        };
        left: 0;
        right: 0;
        top: 0;
        background: $white;
        border-radius: 64px;

        img {
          width: 116px;
          height: 116px;
          margin-left: 8px;
          margin-top: 8px;
        }
      }

      .post_image {
        margin: 0;
        height: 200px;
        overflow: hidden;
        position: relative;
        background-color: $secondary;

        img {
          height: auto;
          width: 100%;
          padding: 0;
          margin: 0;
          min-height: 200px;
          border: none;
        }
      }

      .post_wrapper {
        background: $white;
        height: 100%;
      }

      .post_content {
        padding: 25px;

        p {
          margin: {
            top: 0.5em;
            bottom: 0;
          }
        }

        .post_meta {
          text-align: center;
        }

        h2 {
          margin-top: 4px;
          text-align: center;

          a {
            color: inherit;

            &:hover {
              text-decoration: none;
              color: $primary;
            }
          }
        }
      }
    }

    .breaker {
      width: 100%;
    }
  }
}
