header.masthead-video  {
  position: relative;

  .tv, .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #tv {
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
    &.active {
      opacity: 1;
    }
  }

  .partners {
    position: absolute;
    right: 10px;
    top: 70px; // Size of the navbar + 20px
    white-space: nowrap;

    img {
      display: inline-block;
      opacity: 0.65;
      width: auto;

      margin-left: 5px;
      margin-right: 5px;
      max-height: 40px;
    }

    @include media-breakpoint-up("md") {
      img {
        margin-left: 10px;
        margin-right: 10px;
        max-height: 60px;
      }
    }

    @include media-breakpoint-up("lg") {
      right: 20px;
      top: 80px; // Size of the navbar + 20px

      img {
        margin-left: 10px;
        margin-right: 10px;
        max-height: 80px;
      }
    }
  }

  .container {
    font-size: 1.5rem;
    margin-top: 80px;
    color: white;
    text-shadow: 1px 1px 2px $black;

    h1 { font-size: $h1-fontsize * 1.2;}
    h2 { font-size: $h2-fontsize * 1.2;}
    h3 { font-size: $h3-fontsize * 1.2;}
    h4 { font-size: $h4-fontsize * 1.2;}
    h5 { font-size: $h5-fontsize * 1.2;}
    h6 { font-size: $h6-fontsize * 1.2;}

    p {
      margin-bottom: 0;
    }

    @include media-breakpoint-up("md") {
      font-size: 2rem;

      h1 { font-size: $h1-fontsize * 2;}
      h2 { font-size: $h2-fontsize * 2;}
      h3 { font-size: $h3-fontsize * 2;}
      h4 { font-size: $h4-fontsize * 2;}
      h5 { font-size: $h5-fontsize * 2;}
      h6 { font-size: $h6-fontsize * 2;}
    }
  }
}
