#t3p-meta-trail-length,
#t3p-meta-trail-vertclimb,
#t3p-meta-trail-vertdrop,
#t3p-meta-trail-itra,
#t3p-meta-trail-pricereduce,
#t3p-meta-trail-pricefull {
  width: 99%;
}

#t3p-trail-icon-set {
  display: inline-block;

  img {
    width: 128px;
    max-width: 100%;
    height: auto;
  }
}

.howto-t3p {
  color: #666;
  font-style: italic;
}
