// Mixins
@mixin serif-font() {
  font-family: $font__main; // TODO: Change menu font
}
@mixin sans-serif-font() {
  font-family: $font__main; // TODO: Change menu font
}

@mixin wp-admin-bar-adjust() {
  body.admin-bar & {
    top: $wp-admin-bar-smallwidth;
  }
  @media screen and ( min-width: $wp-admin-bar-breakpoint ) {
    body.admin-bar & {
      top: $wp-admin-bar-largewidth;
    }
  }
}
