// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #cf533f !default; // #F05F40
$secondary: #262938 !default;

// Color
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $secondary !default;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-sticky: lighten($secondary, 80%) !default;

$color__text-screen: #21759b;
$color__text-input: $gray-600;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;
$color__placeholder: $gray-500;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $secondary;
$color__border-abbr: #666;

// Font
$font__main: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__headings: 'Roboto Condensed', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font__placeholder: $font__main !default;
$font__line-height-body: 1.66 !default;
$font__line-height-pre: 1.6 !default;

// 11. Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$wp-admin-bar-breakpoint: 782px !default;
$wp-admin-bar-largewidth: 32px !default;
$wp-admin-bar-smallwidth: 46px !default;


// 20. Typography
// ==========================================================================

$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles
$h1-fontsize: 2.5rem !default;
$h2-fontsize: 2.0rem !default;
$h3-fontsize: 1.75rem !default;
$h4-fontsize: 1.5rem !default;
$h5-fontsize: 1.25rem !default;
$h6-fontsize: 1.0rem !default;


$h1-widget-fontsize: $h1-fontsize * 0.5 !default;
$h2-widget-fontsize: $h2-fontsize * 0.5 !default;
$h3-widget-fontsize: $h3-fontsize * 0.5 !default;
$h4-widget-fontsize: $h4-fontsize * 0.5 !default;
$h5-widget-fontsize: $h5-fontsize * 0.5 !default;
$h6-widget-fontsize: $h6-fontsize * 0.5 !default;

$h2-excerpt-fontsize: 1.4rem !default;
$meta-fontsize: 0.8rem !default;
$h2-front-excerpt-fontsize: 1.0rem !default;
$front-excerpt-fontsize: 0.8rem !default;
$front-excerpt-meta-fontsize: 0.7rem !default;
$h2-comments-fontsize: 1.25rem !default;
$comments-fontsize: 0.875rem !default;
$comments-author-fontsize: 1rem !default;
$comments-meta-fontsize: 0.625rem !default;



// Main Grid containers
//
// Define the maximum width of `.main-container` for different screen sizes.

$main-container-max-widths: (
  sm: 540px,  // 576px
  md: 720px,  // 768px
  lg: 960px,  // 992px
  xl: 960px   // 1200px
) !default;
