@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1rem;
  font-weight: 400;
  line-height: $font__line-height-body;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  color: $color__text-input;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0;

  cite {
    display: block;
    font-style: normal;
    font-weight: 600;
    margin-top: 0.5em;
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  font-size: 0.9375rem;
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: $font__code;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark, ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}


blockquote {
  quotes: "" "";
}

q {
  quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
  content: "";
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: darken($primary, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: both;

  &:first-child {
    padding-top: 0;
  }

  a {
    font-weight: inherit;
  }
}

// Header Styles

h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 4) 0 ($h1-fontsize / 2.5) 0; font-family: $font__headings;}
h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 4) 0 ($h2-fontsize / 2.5) 0; font-family: $font__headings;}
h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 4) 0 ($h3-fontsize / 2.5) 0; font-family: $font__headings;}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 4) 0 ($h4-fontsize / 2.5) 0; font-family: $font__headings;}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 4) 0 ($h5-fontsize / 2.5) 0; font-family: $font__headings;}
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 4) 0 ($h6-fontsize / 2.5) 0; font-family: $font__headings;}

// Text Styles
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }
